:root {
    --ionos_blue: #003d8f;
    --white: #ffffff;
    --beige: #f6f7f8;
    --lightgreen: #a3fc97;
    --lightred: #ff8c8c;
    --yellow: #fffea8;
}

.header {
    background-color: var(--ionos_blue);
    padding-top: 16px;
    padding-bottom: 12px;
}

.container {
    background-color: var(--white);
    width: 100%;
    max-width: 1200px;
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header-container {
    background-color: var(--ionos_blue);
}

.header-logo {
    background: rgba(0, 0, 0, 0) url('/spa/assets/ionos_logo.svg')no-repeat 50%;
    height: 2.25rem;
    width: 8rem;
    display: inline-block;
}

table {
    width: 100%;
    margin: 10px;
}

figcaption{
    margin: 10px;
}

.SUCCESS{
    background-color: var(--lightgreen);
}

.RUNNING {
    background-color: var(--yellow);
}

.FAILED {
    background-color: var(--lightred);
}

.CREATED {
    background-color: var(--white);
}

.RETRYING {
    background-color: var(--yellow);
}

.FAILED_TO_START {
    background-color: var(--blightred);
}
