:root {
    --ionos_blue: #003d8f;
    --white: #ffffff;
    --beige: #f6f7f8;
    --lightgreen: #a3fc97;
    --lightred: #ff8c8c;
    --yellow: #fffea8;
}

.header {
    background-color: var(--ionos_blue);
    padding-top: 10px;
    padding-bottom: 10px;
}

.container {
    background-color: var(--white);
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header-container {
    background-color: var(--ionos_blue);
}

.header-logo {
    background: rgba(0, 0, 0, 0) url('/static/spa/assets/ionos_logo.svg')no-repeat 50%;
    height: 2.25rem;
    width: 8rem;
    display: inline-block;
}

table {
    width: 100%;
}

input{
    margin-top: 10px;
}

figcaption{
    font-weight: 600;
    font-size: 1.05rem;
}

.SUCCESS{
    background-color: var(--lightgreen);
}

.RUNNING {
    background-color: var(--yellow);
}

.FAILED {
    background-color: var(--lightred);
}

.CREATED {
    background-color: var(--white);
}

.RETRYING {
    background-color: var(--yellow);
}

.FAILED_TO_START {
    background-color: var(--lightred);
}

#logsField, #pathField{
    white-space: pre-wrap;
}